%body
  %header.bg-dark.py-5
    .container.px-4.px-lg-5.my-5
      .text-center.text-white
        %h1.display-4.fw-bolder=t('.title')
        %p.lead.fw-normal.text-white-50.mb-0=t('.subtitle')
%br
%br
.row.justify-content-center
  .col-lg-4.col-md-6.ml-auto.mr-auto
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render partial: 'devise/shared/error_messages', resource: resource
      .form-group
        = f.email_field :email, autofocus: false, class: 'form-control', placeholder: "Email Address"
      .form-group
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password'
      .form-group
        = f.submit t('.signupt'), class: "btn btn-primary btn-block btn-lg"
    .text-center
      = render "devise/shared/links"
