%body
  %header.bg-dark.py-5
    .container.px-4.px-lg-5.my-5
      .text-center.text-white
        %h1.display-4.fw-bolder=t('.title')
        %p.lead.fw-normal.text-white-50.mb-0=t('.subtitle')
%table.table.table-light.table-striped
  %thead
    %tr
      %th{:scope => "col"}=t('.col1')
      %th{:scope => "col"}=t('.col2')
      %th{:scope => "col"}=t('.col3')
      %th{:scope => "col"}=t('.col4')
      %th{:scope => "col"}=t('.col5')
      %th{:scope => "col"}=t('.col6')
      %th{:scope => "col"}=t('.col7')
  %tbody
    - @orders.each do |order|
      %tr
        %td
          = order.id
        %td
          = order.name
        %td
          = order.email
        %td
          %table.table.table-light.table-dark
            %thead
              %tr
                %th{:scope => "col"}
                %th{:scope => "col"}=t('.col4_1')
                %th{:scope => "col"}=t('.col4_2')
                %th{:scope => "col"}=t('.col4_3')
            %tbody
              - order.line_items.each do |item|
                %tr
                  %td
                    = image_tag(item.product.image_url, class: 'icon_image', width: 100, height:100)
                  %td
                    = item.product.title
                  %td
                    = item.quantity
                  %td
                    = number_to_currency(item.product.price)
        %td
          = number_to_currency(order.total_price)
        %td
          = order.pay_type
        %td
          = link_to t('.link1'), order, method: :delete, data: { confirm: t('.link1m') }
