%body
  %header.bg-dark.py-5
    .container.px-4.px-lg-5.my-5
      .text-center.text-white
        %h1.display-4.fw-bolder=t('.title')
        %p.lead.fw-normal.text-white-50.mb-0=t('.subtitle')
  .row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3
    .col.mb-5.text-center
    = simple_form_for @product do |f|
      - if @product.errors.any?
        #error_explanation
          %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
          %ul
            - @product.errors.full_messages.each do |message|
              %li= message
      %br
      .field
        = f.label :title
        = f.text_field :title, class:"form-control"
      .field
        = f.label :category
        = f.select(:category, options_for_select([['Movies', 'Movies'], ['Collectables', 'Collectables'],['Music', 'Music']]), { include_blank: true },class:"form-control")
      .field
        = f.label :description
        = f.text_area :description, class:"form-control"
      .field
        = f.label :image_url
        = f.text_field :image_url, class:"form-control"
      .field
        = f.label :price
        = f.text_field :price, class:"form-control"
      .field
        = f.label :supply
        = f.number_field :supply, class:"form-control"
      %br
      .actions
      %center
        = f.submit t('.submit'), class:"btn btn-primary"
