
%body
  %header.bg-dark.py-5
    .container.px-4.px-lg-5.my-5
      .text-center.text-white
        %h1.display-4.fw-bolder=t('.title')
        %p.lead.fw-normal.text-white-50.mb-0=t('.subtitle')
%table.table.table-light.table-striped
  %thead
    %tr
      %th{:scope => "col"}
      %th{:scope => "col"}=t('.col1')
      %th{:scope => "col"}=t('.col2')
      %th{:scope => "col"}=t('.col3')
      %th{:scope => "col"}=t('.col4')
      %th{:scope => "col"}=t('.col5')
      %th{:scope => "col"}=t('.col6')
      %th{:scope => "col"}=t('.col7')
      %th{:scope => "col"}=t('.col8')
      %th{:scope => "col"}=t('.col9')
  %tbody
    - @products.each do |product|
      %tr
        %td
          = image_tag(product.image_url, class: 'icon_image', width: 100, height:100)
        %td
          = product.title
        %td
          = product.category
        %td
          = product.description
        %td
          = product.image_url
        %td
          = product.price
        %td
          = product.supply
        %td
          = link_to t('.link1'), product
        %td
          = link_to t('.link2'), edit_product_path(product)
        %td
          = link_to t('.link3'), product, method: :delete, data: { confirm: t('.link3m') }
%center
  = link_to t('.link4'), new_product_path , class: "btn btn-outline-dark mt-auto"
%br
%br
