
%body
  %header.bg-dark.py-5
    .container.px-4.px-lg-5.my-5
      .text-center.text-white
        %h1.display-4.fw-bolder Inventory
        %p.lead.fw-normal.text-white-50.mb-0 Finding inventory in the backroom is not always a joy.
%table.table.table-light.table-striped
  %thead
    %tr
      %th{:scope => "col"}
      %th{:scope => "col"} Title
      %th{:scope => "col"} Category
      %th{:scope => "col"} Description
      %th{:scope => "col"} Image url
      %th{:scope => "col"} Price
      %th{:scope => "col"} Supply
  %tbody
    - @products.each do |product|
      %tr
        %td
          = image_tag(product.image_url, class: 'icon_image', width: 100, height:100)
        %td
          = product.title
        %td
          = product.category
        %td
          = product.description
        %td
          = product.image_url
        %td
          = product.price
        %td
          = product.supply
        %td
          = link_to 'Show', product
        %td
          = link_to 'Edit', edit_product_path(product)
        %td
          = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
%center
= link_to 'New Product', new_product_path , class: "btn btn-outline-dark mt-auto"
%br
%br
