%h1=t('.title')

%table
  %thead
    %tr
      %th=t('.col1')
      %th=t('.col2')
      %th
      %th
      %th

  %tbody
    - @line_items.each do |line_item|
      %tr
        %td= line_item.product
        %td= line_item.cart
        %td= link_to t('.link1'), line_item
        %td= link_to t('.link2'), edit_line_item_path(line_item)
        %td= link_to t('.link3'), line_item, method: :delete, data: { confirm: t('.link3m') }

%br

= link_to t('.link4'), new_line_item_path
